.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background-image: url("../../assets/img/brook7.png");
  background-size: cover;
  background-position: center;
}

.inner-container {
  min-width: 350px;
  text-align: center;
}

.card {
  background-color: transparent !important;
  border: 0 !important;
}

.form-control {
  border-radius: 30px !important;
  background-color: rgba(255, 255, 255, 0.212) !important;
  border: 0 !important;
  padding: 1.25rem 0.75rem !important;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.377) !important;
}

input,
::placeholder {
  color: white !important;
  font-family: "Montserrat" !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

::placeholder {
  color: rgb(226, 226, 226) !important;
}

.links {
  color: #e89c35 !important;
  font-family: "Montserrat" !important;
  font-weight: 500;
}

.btn-primary {
  border-radius: 30px !important;
  background-color: #e89c35 !important;
  padding: 0.49rem 0.75rem !important;
  border: 0 !important;
  color: white !important;
  font-family: "Montserrat" !important;
  font-size: 0.8571em;
  font-weight: 400 !important;
}

.btn-primary:hover {
  background-color: #f0aa49 !important;
}

.text-center {
  color: white !important;
  font-family: "Montserrat" !important;
}
