.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 80vh;
}

h1 {
  position: absolute;
  top: 0.75rem;
  left: 4rem;
  z-index: 10;
  margin: 2;
  padding: 2;
}

.search {
  position: absolute;
  background-color: white;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 200px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: white;
  width: 100%;
  color: black;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: #e89c35;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}
