.card-footer {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: white !important;
}

.marketCardBody {
  background-color: white;
  border-radius: 9px !important;
  padding-bottom: 3px !important;
}

.cardDetails {
  margin-top: 18px;
}

.marketCard {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px !important;
  border-radius: 9px !important;
  overflow: hidden;
  color: #01203a;
  background-color: white !important;
}

.marketCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.card-columns {
  margin-right: 1rem;
}

.cardTitle {
  font-family: Montserrat;
  font-weight: 700 !important;
}

.marketCardBody Button {
  padding: 0 !important;

  margin-bottom: 15px;
  font-size: smaller;

  outline: none;

  color: #e89c35;

  background: transparent !important;
  font-weight: 700;
}

.marketCardBody Button:hover,
button:focus {
  font-weight: 700;
  color: #e89c35;
}

*:focus {
  outline: 0 !important;
}
@media screen and (max-width: 480px) {
  .card-columns {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .card-columns {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .card-columns {
    margin-right: 15px;
    margin-left: 15px;
  }
}
