body {
  background-color: #f7f8fc;
}

.leftThingy {
  transform: translateY(-1.70px);
  margin-right: 5px;
  color: #01203a; 
}

.theBackButton {
  margin: 10px 5px;
  background-color: transparent; 
  color: #01203a !important; 

}

.theBackButton:hover {
  margin: 10px 5px;
  background-color: transparent;
  color: #01203a !important; 
  transform: translateY(-5px);
}

.theBackButton:active {
  margin: 10px 5px;
  background-color: transparent;
  color: #01203a !important; 
  transform: translateY(-5px);
}

.detailedIMG {
  height: 460px;
  width: 400px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 20px;
}

.projectDetailsSection {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  align-items: center;
  min-height: 100vh;
  color: #01203a;
}

.projDetails {
  min-width: 50%;
}

.projDetails ul {
  list-style-type: none;
  padding-left: 0px;
}

.projDetails li {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.detailTxt {
  font-size: 1.2rem;
  padding-left: 10px;
}

.detailSVG {
  transform: translateY(2px);
  font-size: 1.4rem;
}
.detailTitle {
  font-weight: 700;
  margin-bottom: 20px;
}

.sampleBillRow {
  display: flex;
  justify-content: space-evenly;
  color: #01203a;
}

.sampleBill {
  background-color: rgb(240, 240, 240);
  padding: 150px 150px 150px 150px;
}

.oldBill,
.newBill {
  background-color: white;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 9px !important;
  min-width: 31%;
}

.oldBill {
  margin-right: 35px;
}

.oldBill h5,
.newBill h5 {
  font-size: smaller;
  font-weight: 600;
}

.oldBill h3,
.newBill h3 {
  font-weight: 600;
  padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .projectDetailsSection {
    display: grid;
    padding: 20px 10px;
  }
  .detailedIMG {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .sampleBillRow {
    display: grid;
  }
  .sampleBill {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 768px) {
  .projectDetailsSection {
    display: grid;
    padding: 20px 10px;
  }
  .detailedIMG {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .sampleBillRow {
    display: grid;
  }
  .sampleBill {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 900px) {
  .projectDetailsSection {
    justify-content: space-around;
    padding: 50px 30px;
  }
  .detailedIMG {
    margin-bottom: 30px;
  }
  .sampleBillRow {
    display: grid;
  }
  .sampleBill {
    padding: 50px 10px;
  }
}
