.projectDetailsPage {
  background-color: #f7f8fc;
}

.leftThingy {
  transform: translateY(-1.7px);
  margin-right: 5px;
  color: #01203a;
}

.theBackButton {
  margin: 10px 5px;
  background-color: transparent;
  color: #01203a !important;
  padding: 15px;
}

.theBackButton:hover {
  margin: 10px 5px;
  background-color: transparent !important;
  color: #01203a !important;
  transform: translateY(-5px);
}

.theBackButton:active {
  margin: 10px 5px;
  background-color: transparent !important;
  color: #01203a !important;
  transform: translateY(-5px);
}

.detailedIMG {
  height: 460px;
  width: 400px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 20px;
}

.projectDetailsSection {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 100px 200px 100px;
  align-items: center;
  min-height: 100vh;
  color: #01203a;
}

.projDetails {
  min-width: 50%;
}

.projDetails ul {
  list-style-type: none;
  padding-left: 0px;
}

.projDetails li {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.detailTxt {
  font-size: 1.2rem;
  padding-left: 10px;
}

.detailSVG {
  transform: translateY(2px);
  font-size: 1.4rem;
}
.detailTitle {
  font-weight: 700;
  margin-bottom: 20px;
}

.sampleBillRow {
  color: #01203a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sampleBill {
  padding: 30px 150px 200px 150px;
}

.oldBill,
.newBill {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  border-radius: 9px !important;
  margin-bottom: 20px;
  min-width: 31%;
}

.oldBill h5,
.newBill h5 {
  font-size: smaller;
  font-weight: 600;
}

.oldBill h3,
.newBill h3 {
  font-weight: 600;
  padding-bottom: 10px;
}

.formTitle {
  text-align: center;
  font-size: 25px;
  padding: 0 100px 0 100px;
}

@media screen and (max-width: 480px) {
  .projectDetailsSection {
    display: grid;
    padding: 20px 10px;
  }
  .detailedIMG {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .sampleBill {
    padding: 50px 10px;
  }
  .formTitle {
    text-align: center;
    font-size: 25px;
    padding: 0 10px 0 10px;
  }

  .oldBill,
  .newBill {
    min-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projectDetailsSection {
    display: grid;
    padding: 20px 10px;
  }
  .detailedIMG {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .sampleBill {
    padding: 50px 10px;
  }
  .formTitle {
    text-align: center;
    font-size: 25px;
    padding: 0 10px 0 10px;
  }
  .oldBill,
  .newBill {
    min-width: 10%;
  }
}

@media screen and (max-width: 900px) {
  .projectDetailsSection {
    justify-content: space-around;
    padding: 50px 30px;
  }
  .detailedIMG {
    margin-bottom: 30px;
  }
  .sampleBillRow {
  }
  .sampleBill {
    padding: 50px 30px;
  }
  .formTitle {
    text-align: center;
    font-size: 25px;
    padding: 0 30px 0 30px;
  }
}
