.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .inner-container {
    min-width: 350px;
  }
  
  .card {
    background-color: transparent !important;
    border: 0 !important;
  }
  
  .form-control {
    border-radius: 30px !important;
    background-color: white !important;
    border: 0 !important;
    padding: 1.25rem 0.75rem !important;
  }
  
  .form-control:focus {
    background: white !important;
  }
  
  .submitForm {
    border-radius: 30px !important;
    background: #01203a !important;
    padding: 0.49rem 0.75rem !important;
    border: 0 !important;
    color: white !important;
    font-family: "Montserrat" !important;
    font-size: 0.8571em;
    font-weight: 400 !important;
    align-items: center;
    align-content: center;
    display: flex; 
    text-align: center;
  }

  .submitFormBtn{
    color: white !important;
    font-family: "Montserrat" !important;
    font-size: 0.8571em;
    font-weight: bold;
    font-weight: 400 !important;
    display: flex; 
    text-align: center !important;
  }
  
  .submitForm:hover {
    background: #01203ace !important;
  }
  
  .formInstruct {
    color: #01203a !important;
    font-family: "Montserrat" !important;
    text-align: center !important;
  }
  