@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  font-family: "Montserrat";
}

.section-titles {
  margin-left: 26px;
  font-weight: 500;
  font-size: 28px;
}
