@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  font-family: "Montserrat";
}

.webapp-content {
  margin-left: 240px;
}

.section-titles {
  font-weight: 500;
  font-size: 26px;
  margin-left: 178px;
}

@media screen and (max-width: 480px) {
  .webapp-content,
  .section-titles {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .webapp-content,
  .section-titles {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .webapp-content,
  .section-titles {
    margin-left: 0px;
  }
}
