.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px #00000080;
}

.gallery-card img {
  height: 225px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 25px;
}

.gallery-card:hover {
  filter: drop-shadow(0px 0px 2px #01203a);
}
